/******** ANIMATION NAV *************/
nav {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    max-width: 1160px;
}

nav>div:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    background-color: #ffffff;
    opacity: 0;
    transition: all 0.5s;
    left: -20px
}

nav>div:hover:before {
    opacity: 1;
    left: 0px;
    bottom: -5px;
}

nav>div {
    position: relative
}

/******** ANIMATION NAV *************/

header {
    background-color: #782221;
}

img {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    background-color: #782221;
    box-shadow: 10px 3px 3px black;
}


a {
    color: white;
    text-decoration: none !important;
}


body {
    width: 1160px;
    margin: auto;


}

main {
    border-right: 2px black solid;
    background-color: #782221;
}


.nom {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #782221;
    justify-content: center;
    font-size: 60px;
    align-items: center;
    height: 100px;
}

.poste {
    display: flex;
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: #782221;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    height: 150px;
}


h1 {

    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #dbc2a4;
    display: flex;
    justify-content: left;
    width: 350px;
    height: auto;
}


.Droite {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: right;
    padding-left: 50px;
    color: black;
    background-color: white;
    flex-direction: column;
    padding-right: 20px;
}


h2:hover {
    border-right: 2px solid #800000;
}


h2 {
    color: black;
    background-color: #dbc2a4;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    border-left: 5px solid #800000;
}


.Gauche {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: white;
    background-color: #782221;
    width: 350px;
    padding-right: 50px;
    float: left;

}

.logo_linkedin  {
    padding: 10px;
}

h3,
li,
p {
    font-family: 'Raleway', sans-serif;

}

footer {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer img {
    width: 80px;
    height: auto;
}

footer img:hover {
    opacity: 0.6;
}